<a href="/details/<%= pokemon.national_dex_id %>">
  <section class="row">
    <h2 class="pokemon-title"> <%=pokemon.name %></h2>
    <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>">
    <span>Types: <%= types[pokemon.type_primary_id] %></span>
  </section>
</a>
