<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/style/modules/favorite-button.css" />
  </head>
  <body>
  <%- include('../partials/favorite-button', {pokemon: pokemon}) %>
  <%- include('../partials/header') %>
  <div class="wrapper">
    <div class="poke-box">
      <%- include('../partials/favorite-button') %>
      <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name%>">
      <h2><%= pokemon.id %></h2>
      <h2><%= pokemon.name %></h2>
      <ul>
        <li>HT: <%= pokemon.height %>m</li>
        <li>WT: <%= pokemon.weight %>kg</li>
      </ul>
      <div class="type-box">
        <ul>
          <li class="<%= pokemon.typeOne %>"> <%= pokemon.typeOne %> </li>
          <li class="<%= pokemon.typeTwo %>"> <%= pokemon.typeTwo %> </li>
        </ul>
      </div>
    </div>
    <div class="strength-box">
      <ul>
        <li>Strong against: </li>
        <% pokemon.strong.forEach( (strong) => { %>
        <li class="<%= strong %>"><%= strong %></li>
        <% }) %>
      </ul>
    </div>
    <div class="weakness-box">
      <ul>
        <li>Weak against: </li>
        <% pokemon.weak.forEach( (weak) => { %>
        <li class="<%= weak %>"><%= weak %></li>
        <% }) %>
      </ul>
    </div>
    <div class="description-box"><%= pokemon.description %></div>
    <div class="move-box">
      <table>
        <tr>
          <th>Level Learned</th>
          <th>Name</th>
        </tr>
        <% pokemon.moves.forEach( (move) => { %>
        <tr>
          <td><%= move[0] %></td>
          <td><%= move[1] %></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </div>

  <%- include('../partials/jquery')%>
</body>
</html>