<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/style/modules/favorite-button.css" />
  </head>
  <body>
  <%- include('./../partials/header', {pokemon: pokemon}) %>
  <div class="wrapper">
    <div class="poke-box">
      <%- include('../partials/favorite-button', {pokemon: results}) %>
      <h2 id="name"><%= pokemon.name %></h2>
      <h2 id="id">National ID: <%= pokemon.id %></h2>
      <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name%>">
      <ul>
        <li>HT: <%= results.height %>m</li>
        <li>WT: <%= results.weight %>kg</li>
      </ul>
      <div class="type-box"> 
        <ul>
          <li class="<%= pokemon.typeOne %>">Type One: <%= pokemon.typeOne %> </li>
          <li class="<%= pokemon.typeTwo %>">Type Two: <%= pokemon.typeTwo %> </li>
        </ul>
      </div>
    </div>
    <div class="strength-box">
      <ul>
        <li>Strong against: </li>
        <% results.strong.forEach( (strong) => { %>
        <li class="<%= strong %>"><%= strong %></li>
        <% }) %>
      </ul>
    </div>
    <div class="weakness-box">
      <ul>
        <li>Weak against: </li>
        <% results.weak.forEach( (weak) => { %>
        <li class="<%= weak %>"><%= weak %></li>
        <% }) %>
      </ul>
    </div>
    <div class="description-box"><%= results.description %></div>
    <div class="move-box">
      <table class="move-table">
        <tr>
          <th>Level Learned</th>
          <th>Name</th>
          <th>Type</th>
        </tr>
        <% results.moves.forEach( (move) => { %>
        <tr>
          <td><%= move.level_learned %></td>
          <td><%= move.name %></td>
          <td><div class="<%= move.type_id %>"><%= move.type_id %></div></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </div>
  <%- include('../partials/jquery')%>
</body>
</html>