<!DOCTYPE html>
<html>

<head>
  <title>PokéSearch</title>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('./../partials/header', {pokemon: pokemon}) %>
  <main class="cards">
    <%- include('../partials/search-form') %>
    <% result.forEach(result => { %>
      <%- include('../partials/row', {pokemon: result}) %>
    <% }); %>
  </main>
  <%- include('../partials/page-numbers') %>
</body>

</html>