<!DOCTYPE html>
<html>

<head>
  <title>PokéSearch</title>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('./../partials/header') %>
  <main class="cards">
    <%- include('../partials/search-form') %>
    <% result.forEach(pokemon => { %>
    <a href="/details/<%= pokemon.national_dex_id %>">
      <section class="row">
        <h2 class="pokemon-title"> <%=pokemon.name %></h2>
        <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>">
        <span><%= types[pokemon.type_primary_id] %></span>
      </section>
    </a>
    <% }); %>
  </main>
  <%- include('../partials/page-numbers') %>
</body>

</html>